<% provide(:title, "Help") %>
<h1 class="log">Help</h1>

<div id="col-R">
  <div class="main-box">
    <div class="main-top"></div>
      <div class="main-filler">
            
      <div class="main-info">
		<p>
			Maybe add some rules in here...
		</p>

		</div>
    </div>
    <div class="main-footer"></div>
  </div>
  <div class="clearB" style="height:20px"></div>
</div>