<div class="chat-name">
  <input type="text" />
</div>
<div class="chat-area">
  <textarea cols="50" rows="10" readonly>
  </textarea>
</div>
<div class="chat-input">
  <form>
    <input type="text" />
    <button type="submit">Chat</button>
  </form>
</div>
