<% provide(:title, "Lobby") %>

<div id="col-M">
    
      <div class="main-box">
        <div class="main-top"></div>
        <div class="main-filler">
        
          <div class="main-info">
            
            <h1>Welcome to the Lobby!</h1>

			<h3 class="text-primary text-center">Would you like to:</h3>

			<%= link_to "Join Game", gamas_path, class: "btn1 btn btn-lg btn-primary" %>
			<h2> OR </h2>
			<%= link_to "Create Game", new_gama_path, class: "btn3 btn btn-lg btn-primary" %>
        
        </div>
        <div class="main-footer"></div>
      </div>
      <div class="clearB" style="height:20px"></div>
    
    </div>