<% provide(:title, "Lobby") %>

<div id="col-M">
    
      <div class="main-box">
        <div class="main-top"></div>
        <div class="main-filler">
        
          <div class="main-info">
            
            <h1>Welcome to the Lobby!</h1>
	    <% if !@user.gama %>
	    <%= link_to "Join Game", gamas_path, class: "btn btn-lg btn-primary" %>
	    <%= link_to "Create Game", new_gama_path, class: "btn btn-lg btn-primary" %>
	    <% else %>
	    <%= link_to "Return to Game", "/play", class: "btn btn-lg btn-primary" %>
	    <%= button_to "Leave Game", "/leave/#{@user.gama_id}", class: "btn btn-lg btn-primary", method: :put %>
            <% end %>
          </div>
        <div class="main-footer"></div>
      </div>
      <div class="clearB" style="height:20px"></div>
    
    </div>
