<% provide(:title, "Lobby") %>
<div class="center jumbotron">
  <h1>Welcome to the Lobby!</h1>
  <h3 class="text-primary text-center">Would you like to:</h3>

<%= link_to "Join Game", games_path, class: "btn btn-lg btn-primary" %>
<h2> OR </h2>
<%= link_to "Create Game", new_game_path, class: "btn btn-lg btn-primary" %>

</div>