vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|31 Aug 2012 14:33:43 -0000
vti_author:SR|Swift-PC\\Swift
vti_modifiedby:SR|Swift-PC\\Swift
vti_nexttolasttimemodified:TW|31 Aug 2012 14:33:43 -0000
vti_timecreated:TR|31 Aug 2012 14:55:54 -0000
vti_cacheddtm:TX|31 Aug 2012 14:55:54 -0000
vti_filesize:IR|3101
vti_cachedlinkinfo:VX|S|../list-imgs/tick-green.png S|../list-imgs/tick-grey.png S|../list-imgs/exclamation.png S|../list-imgs/thumb-up.png S|../list-imgs/lifeboy.png S|../list-imgs/calendar-task.png S|../list-imgs/pin.png S|../list-imgs/clock.png S|../list-imgs/double-arrow.png S|../list-imgs/arrow-2.png S|../list-imgs/info.png S|../list-imgs/success.png S|../list-imgs/warning.png S|../list-imgs/error.png
vti_cachedsvcrellinks:VX|FSUS|Military-v2/list-imgs/tick-green.png FSUS|Military-v2/list-imgs/tick-grey.png FSUS|Military-v2/list-imgs/exclamation.png FSUS|Military-v2/list-imgs/thumb-up.png FSUS|Military-v2/list-imgs/lifeboy.png FSUS|Military-v2/list-imgs/calendar-task.png FSUS|Military-v2/list-imgs/pin.png FSUS|Military-v2/list-imgs/clock.png FSUS|Military-v2/list-imgs/double-arrow.png FSUS|Military-v2/list-imgs/arrow-2.png FSUS|Military-v2/list-imgs/info.png FSUS|Military-v2/list-imgs/success.png FSUS|Military-v2/list-imgs/warning.png FSUS|Military-v2/list-imgs/error.png
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Military-v2/index.html Military-v2/TEMPLATE.html
