<% provide(:title, @game.name) %>

<p>
	<% if game_pending?(@game) %>
  <strong>Game <%= @game.name %> is Pending. Would you like to
  	<%= link_to 'join?', '#' %></strong> 
  	<% else %>

  		<% if game_done?(@game) %>
	  		<strong>Game is Over.</strong> 
	  	<% else %>
	  		<strong> Game is on-going.</strong>
  		<% end %>
  	<% end %>

  	
</p>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>