<% provide(:title, 'All Games') %>
<h1 class="log">All Games</h1>

<div id="col-M">
  <div class="main-box">
    <div class="main-top"></div>
      <div class="main-filler">
            
      <div class="main-info">
      	<table class="table table-striped">
      		<thead>
          				<tr>
          					<th>Game</th>
          					<th>Status</th>
          					<th>Players in Game</th>
          					<th>join/leave</th>
          				</tr>
          			</thead>
          			<tbody>
          <% if current_user.gama %>
            <% @game = @gamas.find(current_user.gama_id) %>
            <% userGame = @game%>
            <%= render 'gamas/table' %>
                              
          <%end%>
          
          <% @gamas.order(:pending).reverse.each do |game| %>
            <% if userGame != nil %>
              <% next if game.id == userGame.id %>
            <%end%>
            <% @game = game %>
            <%= render 'gamas/table' %>
          				
          <% end %>
          			</tbody>
          		</table>
					   
					    <div>
			        <%= link_to 'Create Game', new_gama_path, class: "btn btn-default" %>
			        </div>
			</div>
			<div class="main-footer"></div>
     </div>
      <div class="clearB" style="height:20px"></div>
    </div>
    
    </div>
  
