<% provide(:title, 'All Games') %>
<h1 class="log">All Games</h1>

<div id="col-M">
  <div class="main-box">
    <div class="main-top"></div>
      <div class="main-filler">
            
      <div class="main-info">
        <ul class="games">
          <% @gamas.each do |game| %>
            <li>
              <%= link_to game.name, :controller => 'gamas', :action => 'show', :id => game.id %>
                <% if game.pending? %>
		<span class="label label-primary">Pending</span>
                <% elsif game.done? %>
		<span class="label label-warning">Done</span>
                <% elsif game.full? %>
		<span class="label label-success">In Game</span>
                <% end %> 

		<% if game.pending? %>
		<%= button_to "join?", "/join/#{game.id}", {method: :put, class: "btn btn-primary"} %>
		<% end %>
                <br></br>
            </li>
          <% end %>
        </ul>

        <div>
        <%= link_to 'Create Game', new_gama_path %>
        </div>
      </div>
    </div>
    <div class="main-footer"></div>
  </div>
  <div class="clearB" style="height:20px"></div>
</div>
