<div id="footer">
  <div id="footer-mid">
    <div id="footer-col-L"></div>
    <div id="footer-col-M">
      <div id="foot-title-section">The Great War</div>
      <div id="foot-title-slogan">"For God, for country, and for Yale"</div>
      <div class="foot-contacts">Supreme Leaders: BDMVW</div>
      <div id="foot-disclaimer">Copyright 2012 - ThemeKings.Net"</div>
    </div>
    <div id="footer-col-R"></div>
  </div>
</div>